In [1]:
import pandas as pd

from ml.preprocessing.preprocess_data import apply_preprocessing_on_fields

In [2]:
%%time
df = pd.read_excel('./indeed_results.xlsx')

Wall time: 3.97 s

In [3]:
%%time
df = apply_preprocessing_on_fields(df)

Wall time: 47.9 s

In [4]:
%%time
df.to_excel('./indeed_results_pp_2020-04-25.xlsx', index=False)

Wall time: 25.4 s

In [24]:
%%time
df = pd.read_excel('./indeed_results_pp_2020-04-25.xlsx')

Wall time: 15.2 s

In [25]:
df.shape[0]

63828

In [26]:
df.dropna().shape[0]

356

In [27]:
df.isnull().sum() / df.shape[0] * 100

Title                   0.000000
Location                0.000000
Company                 0.000000
Salary                 51.441374
Sponsored               0.000000
Description            71.940214
Time                    0.000000
Salary_Unit_Month       0.000000
Salary_Unit_Year        0.000000
Salary_Unit_Week        0.000000
Salary_Unit_Day         0.000000
Salary_Unit_Hour        0.000000
Salary_New             51.441374
Salary_Average          0.000000
Job_Type_Part_Time      0.000000
Job_Type_Full_Time      0.000000
XP_Experience           0.000000
XP_Fresher              0.000000
Gender                  0.000000
Gender_Male             0.000000
Gender_Female           0.000000
Education_Tenth         0.000000
Education_Twelvth       0.000000
Education_Bachelors     0.000000
Education_Masters       0.000000
Education_Doctorate     0.000000
Skills_Description     76.773516
Skills_Title           89.020493
Skills                 73.282885
Position_Junior         0.000000
Position_Senior         0.000000
Internship              0.000000
Title_New              90.740741
dtype: float64

In [28]:
df[((df['Education_Tenth'] == 1) | (df['Education_Twelvth'] == 1) | (df['Education_Bachelors'] == 1) | (df['Education_Masters'] == 1) | (df['Education_Doctorate'] == 1))]

,Title,Location,Company,Salary,Sponsored,Description,Time,Salary_Unit_Month,Salary_Unit_Year,Salary_Unit_Week,...,Education_Bachelors,Education_Masters,Education_Doctorate,Skills_Description,Skills_Title,Skills,Position_Junior,Position_Senior,Internship,Title_New
0,delivery drivers delivery executives delivery ...,Guwahati,Ride Swiggy,25000 35000 month,Sponsored,official job posted from swiggy join swiggy fa...,2019-11-15,1,0,0,...,0,0,0,NaN,NaN,NaN,0,0,1,NaN
1,primary teacher relocation to chitrakoot up,Guwahati,Ashok Public School Chitrakoot UP,NaN,Sponsored,candidates who are willing to relocate at chit...,2020-02-06,0,0,0,...,1,0,0,NaN,NaN,NaN,0,0,0,NaN
2,graphic designer,Guwahati,Supermark Agency,15000 20000 month,Sponsored,the ideal candidate will have strong creative ...,2020-01-18,1,0,0,...,1,0,0,|ui|ux|css,NaN,css|ux|ui,0,0,0,graphic designer
3,sales executive kitchenware and utensils,Guwahati,Global Prospects,175000 250000 year,Organic,sales executive distributor payroll we are urg...,2020-02-22,0,1,0,...,1,0,0,NaN,NaN,NaN,0,0,0,NaN
4,digital marketing executive,Guwahati,Global Prospects,100000 150000 year,Organic,we are looking for passionate and aspiring you...,2019-12-30,0,1,0,...,1,0,0,|communication skills,NaN,communication skills,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63816,benefits and perks,Thane Maharashtra,Dquip,NaN,Organic,1 we are passionate about what we do and not j...,2019-12-01,0,0,0,...,0,0,0,|soft skills|ui|ubuntu|php|project management|...,NaN,php|agile|jira|soft skills|ubuntu|project mana...,0,0,1,NaN
63819,graphic designer,Mumbai Maharashtra,Fine Jobs,NaN,Organic,2 yea of experience as graphic designer 1 to a...,2020-01-17,0,0,0,...,0,0,0,|soft skills,NaN,soft skills,0,0,0,graphic designer
63820,“magento developer” in a fashion industry andh...,Mumbai Maharashtra,Kalki Fashion,500000 700000 year,Organic,hi we are leading fashion industry in mumbai w...,2020-01-13,0,1,0,...,1,0,0,|react.js|angular.js|sql|msexcel|mysql|php|jav...,NaN,php|react.js|angular.js|msexcel|sql|css|javasc...,0,0,0,NaN
63824,html wordpress website developer,Mogappair Chennai Tamil Nadu,WEBDIGITA,180000 240000 year,Organic,webdigita technologies is looking for an html ...,2020-01-18,0,1,0,...,1,0,0,|java|msword|soft skills|machine learning|php|...,|machine learning,php|html|msword|java|front end|css|soft skills...,0,0,0,NaN
63827,sr java full stack developer,Chennai Tamil Nadu,SecureW2,1000000 2000000 year,Sponsored,securew2 develops certificate driven cyber sec...,2020-03-22,0,1,0,...,0,0,0,|java|soft skills|javascript|aws|cyber securit...,|java,microservices|aws|java|soft skills|javascript|...,0,1,1,full stack developer

In [29]:
df['XP_Experience'].value_counts()

0    59782
1     4046
Name: XP_Experience, dtype: int64

In [30]:
df['XP_Fresher'].value_counts()

0    63828
Name: XP_Fresher, dtype: int64