In [1]:
from datetime import date
from datetime import datetime
from datetime import timedelta

import numpy as np
from numpy.random import randint
import pandas as pd

import os

from ml.preprocessing.preprocess_data import apply_preprocessing_on_fields

In [2]:
%%time
df = pd.read_excel('indeed_results.xlsx')

CPU times: user 3.23 s, sys: 16.6 ms, total: 3.24 s
Wall time: 3.44 s

In [3]:
%%time
df = apply_preprocessing_on_fields(df)

CPU times: user 27.6 s, sys: 52.8 ms, total: 27.7 s
Wall time: 31.9 s

In [4]:
df

,Title,Location,Company,Salary,Sponsored,Description,Time,Salary_Unit_Month,Salary_Unit_Year,Salary_Unit_Week,...,Education_Twelvth,Education_Bachelors,Education_Masters,Education_Doctorate,Skills_Description,Skills_Title,Skills,Position_Junior,Position_Senior,Internship
0,delivery drivers delivery executives delivery ...,Guwahati,Ride Swiggy,25000 35000 month,Sponsored,official job posted from swiggy join swiggy fa...,2019-11-15,1,0,0,...,1,0,0,1,,,,0,0,1
1,primary teacher relocation to chitrakoot up,Guwahati,Ashok Public School Chitrakoot UP,,Sponsored,candidates who are willing to relocate at chit...,2020-02-06,0,0,0,...,1,0,0,1,,,,0,0,0
2,graphic designer,Guwahati,Supermark Agency,15000 20000 month,Sponsored,the ideal candidate will have strong creative ...,2020-01-18,1,0,0,...,1,0,0,1,|ui|ux|css,,ui|ux|css,0,0,0
3,sales executive kitchenware and utensils,Guwahati,Global Prospects,175000 250000 year,Organic,sales executive distributor payroll we are urg...,2020-02-22,0,1,0,...,1,1,0,1,,,,0,0,0
4,digital marketing executive,Guwahati,Global Prospects,100000 150000 year,Organic,we are looking for passionate and aspiring you...,2019-12-30,0,1,0,...,1,1,0,1,|communication skills,,communication skills,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50531,qa test engineer,Pune Maharashtra,Max Secure,,Organic,,2020-02-26,0,0,0,...,1,0,0,1,,,,0,0,0
50532,test engineer,Pune Maharashtra,YAN IT Solutions,,Organic,,2019-12-05,0,0,0,...,1,0,0,1,,,,0,0,0
50533,sr manual test engineers,Pune Maharashtra,Bakuun com Support and Services Pvt Ltd,,Organic,,2020-04-16,0,0,0,...,1,0,0,1,,,,0,1,0
50534,senior test engineer,Pune Maharashtra,Mphasis,,Sponsored,,2019-12-05,0,0,0,...,1,0,0,1,,,,0,1,0
50535,technical test lead performance testing,Pune Maharashtra,Infosys Limited,,Sponsored,,2020-02-28,0,0,0,...,1,0,0,1,,,,0,0,0

In [5]:
df.tail(10)

,Title,Location,Company,Salary,Sponsored,Description,Time,Salary_Unit_Month,Salary_Unit_Year,Salary_Unit_Week,...,Education_Twelvth,Education_Bachelors,Education_Masters,Education_Doctorate,Skills_Description,Skills_Title,Skills,Position_Junior,Position_Senior,Internship
50526,web developer,Baner Pune Maharashtra,Techno Oyster,,Organic,,2020-01-24,0,0,0,...,1,0,0,1,,,,0,0,0
50527,technical analyst,Pune Maharashtra,159 Solutions Inc,,Organic,,2020-04-22,0,0,0,...,1,0,0,1,,,,0,0,0
50528,quality analyst,Pune Maharashtra,Newgen Enterprise,,Organic,,2020-02-28,0,0,0,...,1,0,0,1,,,,0,0,0
50529,manual automation test engineer,Pune Maharashtra,Nityaobject,,Organic,,2019-12-21,0,0,0,...,1,0,0,1,,,,0,0,0
50530,quality analyst,Kharadi Pune Maharashtra,Unbound B2B,,Organic,,2020-02-14,0,0,0,...,1,0,0,1,,,,0,0,0
50531,qa test engineer,Pune Maharashtra,Max Secure,,Organic,,2020-02-26,0,0,0,...,1,0,0,1,,,,0,0,0
50532,test engineer,Pune Maharashtra,YAN IT Solutions,,Organic,,2019-12-05,0,0,0,...,1,0,0,1,,,,0,0,0
50533,sr manual test engineers,Pune Maharashtra,Bakuun com Support and Services Pvt Ltd,,Organic,,2020-04-16,0,0,0,...,1,0,0,1,,,,0,1,0
50534,senior test engineer,Pune Maharashtra,Mphasis,,Sponsored,,2019-12-05,0,0,0,...,1,0,0,1,,,,0,1,0
50535,technical test lead performance testing,Pune Maharashtra,Infosys Limited,,Sponsored,,2020-02-28,0,0,0,...,1,0,0,1,,,,0,0,0

In [6]:
df.isnull().sum()

Title                  0
Location               0
Company                0
Salary                 0
Sponsored              0
Description            0
Time                   0
Salary_Unit_Month      0
Salary_Unit_Year       0
Salary_Unit_Week       0
Salary_Unit_Day        0
Salary_Unit_Hour       0
Salary_New             0
Salary_Average         0
Job_Type_Part_Time     0
Job_Type_Full_Time     0
XP_Experience          0
XP_Fresher             0
Gender_Male            0
Gender_Female          0
Education_Tenth        0
Education_Twelvth      0
Education_Bachelors    0
Education_Masters      0
Education_Doctorate    0
Skills_Description     0
Skills_Title           0
Skills                 0
Position_Junior        0
Position_Senior        0
Internship             0
dtype: int64

In [7]:
str(df['Time'][50534]) == 'nan'

False

In [ ]:
df.to_excel('')

In [19]:
df[df['Description'] == '']

,Title,Location,Company,Salary,Sponsored,Description,Time,Salary_Unit_Month,Salary_Unit_Year,Salary_Unit_Week,...,Education_Twelvth,Education_Bachelors,Education_Masters,Education_Doctorate,Skills_Description,Skills_Title,Skills,Position_Junior,Position_Senior,Internship
13,delivery drivers delivery executives delivery ...,Guwahati,Ride Swiggy,25000 35000 month,Sponsored,,2020-02-04,1,0,0,...,1,0,0,1,,,,0,0,0
357,executive assistant female only,Guwahati,Global Prospects,300000 350000 year,Organic,,2019-12-09,0,1,0,...,1,0,0,1,,,,0,0,0
358,front desk executive,Guwahati,Lakshmi North East Solutions,7000 12000 month,Organic,,2019-11-22,1,0,0,...,1,0,0,1,,,,0,0,0
359,marketing executive,Guwahati,Phoenix Designer Furniture,,Organic,,2019-11-03,0,0,0,...,1,0,0,1,,,,0,0,0
360,biostatistician ii,Guwahati,Parexel,,Sponsored,,2020-02-12,0,0,0,...,1,0,0,1,,,,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50531,qa test engineer,Pune Maharashtra,Max Secure,,Organic,,NaN,0,0,0,...,1,0,0,1,,,,0,0,0
50532,test engineer,Pune Maharashtra,YAN IT Solutions,,Organic,,NaN,0,0,0,...,1,0,0,1,,,,0,0,0
50533,sr manual test engineers,Pune Maharashtra,Bakuun com Support and Services Pvt Ltd,,Organic,,2020-04-16,0,0,0,...,1,0,0,1,,,,0,1,0
50534,senior test engineer,Pune Maharashtra,Mphasis,,Sponsored,,NaN,0,0,0,...,1,0,0,1,,,,0,1,0
50535,technical test lead performance testing,Pune Maharashtra,Infosys Limited,,Sponsored,,NaN,0,0,0,...,1,0,0,1,,,,0,0,0

In [ ]:
def transform_title(text):
    text = str(text)
    if text.find('web dev') != -1 or text.find('webdev') != -1:
        return 'web developer'
    elif text.find('graphic designer') != -1 or text.find('graphics designer'):
        return 'graphic designer'
    elif text.find('system admin') != -1 or text.find('system administrator') != -1:
        return 'system admin'
    elif text.find('web graphic designer') != -1 or text.find('web design') != -1 or text.find('web front end developers') != -1 or text.find('front end dev') != -1 or text.find('react dev') != -1 or text.find('react js dev') != -1 or text.find('reactjs dev') != -1 or text.find('vue dev') != -1 or text.find('vue js dev') != -1 or text.find('vuejs dev') != -1 or text.find('angular js dev') != -1 or text.find('angularjs dev') != -1 or text.find('angular dev') != -1:
        return 'front end developer'
    elif text.find('ui ux') != -1:
        return 'ui ux developer'
    elif text.find('aws architect') != -1:
        return 'aws developer'
    elif text.find('full stack') != -1:
        return 'full stack developer'
    elif text.find('devops enigneer') != -1:
        return 'devops engineer'
    elif text.find('machine learning engineer') != -1 or text.find('machine learning program') != -1 or text.find('ml engineer') != -1:
        return 'machine learning developer'
    elif text.find('software eng') != -1 or text.find('software archi') != -1 or text.find('software dev') or text.find('net dev') != -1:
        return 'software devoloper'
    elif text.find('nodejs dev') != -1 or text.find('php dev') != -1:
        return 'back end developer'
    elif text.find('big data engineer') != -1 or text.find('hadoop engineer') != -1:
        return 'big data engineer'
    elif text.find('data engineer') != -1 and not text.find('big data') != -1:
        return 'data engineer'
    elif text.find('a') != -1:
        return ''
    elif text.find('') != -1:
        return ''
    elif text.find('') != -1:
        return ''
    elif text.find('') != -1:
        return ''
    elif text.find('') != -1:
        return ''
    elif text.find('') != -1:
        return ''
    elif text.find('') != -1:
        return ''
    elif text.find('') != -1:
        return ''
    elif text.find('') != -1:
        return ''
    elif text.find('') != -1:
        return ''
    elif text.find('') != -1:
        return ''
    else:
        return None